<br>
<h1 class="title">FAQ</h1>
<hr>
<div class="container">
  <div class="guides">
    <div class="guide">
      <h4>Створення збору:</h4>
      <p>Для створення збору потрібно спочатку натиснути кнопку 'Створити збір'</p>
      <img src="assets/mainPage.png" alt="image">
      <p>Далі появиться наступне вікно з відповідними формами</p>
      <img src="assets/createPost.png" alt="image">
      <p>Після заповнення всіх потрібних форм натискаємо 'Опублікувати'</p>
      <img src="assets/filledCreatePostForm.png" alt="image">
    </div>
    <div class="guide">
      <h4>Редагування/Видалення збору:</h4>
      <p>Для редагування збору потрібно спочатку перейти на сторінку перегляду свого збору і натиснути 'Редагувати'</p>
      <img src="assets/updatePostButton.png" alt="image">
      <p>Далі появиться наступне вікно з відповідними формами</p>
      <img src="assets/updatePostForm.png" alt="image">
      <p>Після заповнення всіх потрібних форм натискаємо 'Оновити збір'</p>
      <img src="assets/updatedPost.png" alt="image">
      <p>Після оновлення збору нас перекидає на його сторінку перегляду.</p>
      <img src="assets/viewUpdatedPost.png" alt="image">
      <p>Щоб видалити збір нам достатньо буде натиснути 'Видалити'.</p>
      <img src="assets/deletePost.png" alt="image">
    </div>
  </div>
</div>
<br>
