<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="flex-grow-1">
      <a aria-label="Home" class="logo" routerLink="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          data-name="Layer 1"
          viewBox="0 0 100 125"
          x="0px"
          y="0px"
          class="icon-svg"
        >
          <title>Glyph</title>
          <path
            d="M79.69,29.35a4.37,4.37,0,1,0-8.73,0V47.64h0a1.39,1.39,0,0,1-2.77-.09V19.13a4.37,4.37,0,1,0-8.73,0V43.19A1.82,1.82,0,0,1,58,45a1.75,1.75,0,0,1-2-1.73V14.07a4.37,4.37,0,0,0-8.73,0V47.61a1.85,1.85,0,0,1-1.49,1.86,1.81,1.81,0,0,1-2.1-1.76h0V20.62a4.36,4.36,0,1,0-8.72,0v41.6l-5.08-6.93a5.23,5.23,0,0,0-8.59,6l16.2,22.11a15.31,15.31,0,0,0,12.82,6.92H64.34A15.35,15.35,0,0,0,79.69,74.94ZM69.14,66c-2,4.3-11.84,13.68-11.84,13.68S47.44,70.34,45.46,66a7.12,7.12,0,0,1-.61-3.86C45.21,59,47.76,56,51,55.92c2.91-.06,4.89,2,6.35,3.81h0c1.46-1.83,3.44-3.87,6.35-3.81,3.19.06,5.74,3,6.1,6.26A7.21,7.21,0,0,1,69.14,66Z"
          />
        </svg>
        <span class="reddit-text"> Help people who need it </span>
      </a>
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/" class="nav-link" [routerLinkActive]="'nav-item-active'" [routerLinkActiveOptions]="{exact : true}">Наші збори</a></li>
      <li class="nav-item"><a routerLink="/parsed-post" class="nav-link" [routerLinkActive]="'nav-item-active'">Інші збори</a></li>
      <li class="nav-item"><a routerLink="/faq" class="nav-link" [routerLinkActive]="'nav-item-active'">FAQs</a></li>
      <li class="nav-item"><a routerLink="/about-us" class="nav-link" [routerLinkActive]="'nav-item-active'">Про нас</a></li>
    </ul>
    <div class="flex-grow-1 float-right">
      <div *ngIf="isLoggedIn" class="dropdown">
      </div>

      <div class="dropdown mr-2 float-end" *ngIf="isLoggedIn">
        <button class="userdetails" id="dropdownBasic1">
          <img class="account-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Ukraine.svg/2000px-Flag_of_Ukraine.svg.png">
          {{username}}
        </button>
        <div class="dropdown-content">
          <button class="dropdown-item" (click)="goToUserProfile()" >Профіль</button>
          <button class="dropdown-item" (click)="logout()" >Вийти</button>
        </div>
      </div>


      <div *ngIf="!isLoggedIn">
        <a routerLink="/sign-up" class="float-end sign-up mr-2">Зареєструватися</a>
        <a routerLink="/login" class="float-end login mr-2">Увійти</a>
      </div>
    </div>
  </nav>
</header>
