<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Entities</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/admin" class="nav-link" [routerLinkActive]="'link-item active'" [routerLinkActiveOptions]="{exact : true}">
        Parsed Post
      </a>
    </li>
    <li>
      <a routerLink="/admin/user-post" class="nav-link" [routerLinkActive]="'link-item active'">
        User Post
      </a>
    </li>
    <li>
      <a routerLink="/admin/user-comment" class="nav-link" [routerLinkActive]="'link-item active'">
        User Comment
      </a>
    </li>
  </ul>
</div>
