<div *ngIf="this.userIsAdmin;else otherContent">
  <div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <!-- Display Posts-->
        <div>
          <app-admin-parsed-post></app-admin-parsed-post>
        </div>
      </div>
      <div class="col-md-3">
        <app-admin-sidebar></app-admin-sidebar>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
<ng-template #otherContent>
  <br>
  Sorry you are not admin
</ng-template>


