<div class="container">
  <div class="row">
    <hr />
    <div class="create-post-container col-md-9">
      <div>
        <form class="post-form" [formGroup]="postForm">
          <div class="form-group">
            <div class="create-post-heading">Оновити дані збору</div>
            <hr />
            <input type="text" [formControlName]="'postName'" [(ngModel)]="post.postName" class="form-control" style="margin-top: 5px"
                   placeholder="Назва збору">

            <input type="text" [formControlName]="'cardNumber'" [(ngModel)]="post.cardNumber" class="form-control" style="margin-top: 5px"
                   placeholder="Номер банківської картки">
            <span
              *ngIf="!this.cardNumberIsValid"
              class="help-block" style="color: red"
            >Будь ласка введіть валідний номер картки! Він повинен містити 16 цифр без жодних символів.</span
            >
            <input type="text" class="form-control" [formControlName]="'monoBankJarLink'" [(ngModel)]="post.monoBankJarLink" style="margin-top: 5px" placeholder="Посилання на банку monobank (не обов'язкове поле)">
            <span
              *ngIf="!this.monoBankJarLinkIsValid"
              class="help-block" style="color: red"
            >Будь ласка введіть вірне посилання на банку відповідно шаблону https://send.monobank.ua/jar/'jarId'</span
            >
            <input type="text" class="form-control" [formControlName]="'date'" [(ngModel)]="this.formattedDate" style="margin-top: 5px" placeholder="Дата створення" readonly>

            <editor [formControlName]="'description'" [(ngModel)]="post.description" [init]="{
            base_url: '/tinymce',
            suffix: '.min'}">
            </editor>
            <span>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="updatePost()" [disabled]="postForm.invalid"
                      class="btnUpdatePost">Оновити збір</button>
<!--              <button (click)="deletePost()" [disabled]="updatePostForm.get('postId')?.invalid" class="btnDelete">Delete</button>-->

            </div>
          </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

