<div class="container" *ngIf="this.userIsAdmin;else otherContent">
  <div class="row">
    <hr />
    <div class="comment-container col-md-9">
      <div>
        <form class="post-form" [formGroup]="updateCommentForm">
          <div class="form-group">
            <div class="comment-heading">Операції адміністратора над коментарями</div>
            <hr />
            <input type="text" [formControlName]="'commentId'" class="form-control" style="margin-top: 5px"
                   placeholder="ID коментаря">
            <input type="text" [formControlName]="'text'" class="form-control" style="margin-top: 5px"
                   placeholder="CТекст коментаря">

            <input type="text" [formControlName]="'postId'" class="form-control" style="margin-top: 5px"
                   placeholder="ID поста" readonly>
            <input type="text" [formControlName]="'username'" class="form-control" style="margin-top: 5px"
                   placeholder="Ім'я коментатора" readonly>
            <input type="text" [formControlName]="'createdDate'" class="form-control" style="margin-top: 5px"
                   placeholder="Дата створення" readonly>
            <span>
            <div style="margin-top: 5px" class="float-right">
              <button (click)="getComment()" [disabled]="updateCommentForm.get('commentId')?.invalid" class="btnUpdateComments">Отримати коментар</button>

              <button (click)="updateComment()" [disabled]="updateCommentForm.invalid"
                      class="btnUpdateComments">Редагувати</button>
              <button (click)="deleteComment()" [disabled]="updateCommentForm.get('commentId')?.invalid" class="btnDelete">Видалити</button>
            </div>
          </span>
            <span
              *ngIf="this.commentIsDeleted"
              class="help-block" style="color: green"
            >Коментар успішно видалено</span>
            <span
              *ngIf="this.commentIsUpdated"
              class="help-block" style="color: green"
            >Коментар успішно оновлено</span>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
  </div>
</div>
<ng-template #otherContent>
  <br>
  Вибачте та ця сторінка лише для адміністратора
</ng-template>
