<div class="container">
  <div>
    Welcome <b>{{username}}</b>.<br /> Ви опублікували <b>{{postLength}}</b> раз(и) та коментували збори
    <b>{{commentLength}}</b> раз(и).
    Ви можете переглянути свою історію коментарів та зборів внизу.
  </div>
  <hr />
  <div>
    Ваші пости:
  </div>
  <app-post [data]="posts"></app-post>
  <hr />
  <div>
    Ваші коментарі:
  </div>
  <div class="comment-container">
    <ul class="comment-list" *ngFor="let comment of comments">
      <li class="comment">
        <p class="author">{{comment.username}}</p>
        <p>{{comment.text}}</p>
        <p class="timestamp">{{datePipe.transform(comment.createdDate, "dd/MM/yyyy")}}</p>
      </li>
    </ul>
  </div>
</div>
